<h2>Edit author</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.author_path(@conn, :update, @author) %>

<%= link "Back", to: Routes.author_path(@conn, :index) %>